<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>An Entry</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" async>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/sign.css') }}" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <form class="form-signin" method="post" action="/createEntry">
        <div class="form-group">
          <h2 class="form-signin-heading"> Id</h2>
          <label for="Id" class="sr-only"> Id</label>
          <input name="Id" placeholder="Will Be Autofilled" type="text" id="inputName" class="form-control" readonly>
        </div>
        <div class="form-group">
          <h2 class="form-signin-heading">Name</h2>
          <label for="inputName" class="sr-only">Name</label>
          <input name="Name" placeholder="Name" type="text" id="inputName" class="form-control" required>
        </div>

        <div class="form-group">
          <h2 class="form-signin-heading">URL</h2>
          <label for="inputURL" class="sr-only">URL</label>
          <input name="URL" placeholder="url.com" type="text" id="inputName" class="form-control" required>
        </div>

        <div class="form-group">
          <h2 class="form-signin-heading">Username</h2>
          <label for="inputUsername" class="sr-only">Username</label>
          <input name="Username" placeholder="Username" type="text" id="inputName" class="form-control" required>
        </div>

        <div class="form-group">
          <h2 class="form-signin-heading">Password</h2>
          <label for="inputPassword" class="sr-only">Password</label>
          <input name="Password" placeholder="1234" type="password" id="inputName" class="form-control" required>
          <p> Recommended Password: {{data}}</p>
        </div>
        <div style ="display: flex;">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
          <form class="form-signin">
            <a type ="button" class="btn btn-lg btn-primary btn-block" href="{{ url_for('index.index')}}"> Go to Homepage </a>
          </form>
        </div>
      </form>      
    </div> <!-- /container -->

  </body>